<div class="container mobile-menu-container">
  <div class="menu-box js-menu-container">
    <ul class="link-box">
      <li>
          <a class="btn-mobile-menu mobile-menu-link js-btn-home-menu active" href="index.html">
            HOME
          </a>
      </li>
      <li>
        <a class="btn-mobile-menu mobile-menu-link " href="shopping-list.html">
          SHOPPING LIST
          <svg class="bag-icons" width="14" height="17" fill="#fff">
            <use href="./img/icons/icons.svg#icon-bag"></use>
        </svg>
              </a>
      </li>
    </ul>
  <div class="books-box">
    <img src="./img/menu-png-group.png" alt="group-png">
  </div>
</div>
</div>
