.overlayLoginForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: none;
  background-color: var(--violet);
}

body.dark-theme .button-close-icon {
  stroke-width: 2px;
  stroke: #f6f6f6;
}

.modal-login-form {
  display: none;
  position: fixed;
  width: 335px;
  height: 384px;
  background-color: #f6f6f6;
  border: 2px solid #111;
  border-radius: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

body.dark-theme .modal-login-form {
  background-color: #202024;
}

.sign {
  background: transparent;
  border: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}

.signIn,
.signUp {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 0.5);
}

.signIn:hover:focus,
.signUp:hover:focus {
  text-decoration: underline;
  color: var(--violet);
}

body.dark-theme .signIn,
body.dark-theme .signUp {
  color: rgba(246, 246, 246, 0.5);
}

::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black-1);
}

.modal-login-in,
.modal-login-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 40px;
  align-items: center;
  color: sIGN In;
}

.modal-login-form-close-btn {
  position: absolute;
  z-index: 2500;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  font-size: 16px;
}

.modal-login-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
}

.modal-login-form-name,
.modal-login-form-email,
.modal-login-form-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 173px 16px 24px;
  margin: auto;
  width: 295px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: #f6f6f6;
}

/* body.dark-theme .modal-login-form-name, .modal-login-form-email, .modal-login-form-password {
    border: 2px solid #f6f6f6;
    background: #202024;
    color: #f6f6f6;
} */

.modal-login-btn-up,
.modal-login-btn-in {
  border-radius: 40px;
  padding: 16px 114px;
  width: 294px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background: #111;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #f3f3f3;
}

body.dark-theme .modal-login-btn-up,
.modal-login-btn-in {
  background-color: #f6f6f6;
  color: #202024;
}

.modal-login-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: auto;
  margin-top: 14px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
  .modal-login-form {
    width: 579px;
    height: 516px;
  }

  ::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .modal-login-form-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: transparent;
    stroke: #111111;
    width: 28px;
    height: 28px;
  }

  .modal-login-form-input {
    margin-top: 80px;
    gap: 28px;
  }

  .modal-login-form-name,
  .modal-login-form-email,
  .modal-login-form-password {
    padding: 20px 173px 20px 40px;
    margin: auto;
    width: 499px;
    height: 64px;
    border-radius: 40px;
    border: 2px solid #111;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    color: #111;
  }

  .modal-login-btn-up,
  .modal-login-btn-in {
    width: 499px;
    height: 64px;
    padding: 20px 173px;
    gap: 10px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    background-color: #111;
  }

  .modal-login-list {
    gap: 20px;
    margin-top: 20px;
  }

  .sign {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    width: fit-content;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}
