.mobile-menu-container {
  display: none;
  position: relative;
}

.menu-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 375px;
  background: radial-gradient(189% 190% at 60% -24%,
      rgb(79, 46, 232) 18%,
      rgb(255, 255, 255) 100%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eac645;
  font-style: normal;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;

  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #14ad3a;
  font-weight: 700;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

.link-box {
  padding-top: 247px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.link-page-2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}

.link-page-2:hover,
.link-page-2:focus {
  background-color: #14ad3a;
  font-weight: 700;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

.bag-icons {
  vertical-align: top;
  margin-left: 4px;
}

.books-box {
  padding-top: 126px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(341deg);
}

.books-item {
  transform: rotate(15deg);
}

.open-menu {
  display: flex;
}

@media (min-width: 768px) {
  .open-menu {
    display: none;
  }
}