.mobile-menu-container {
  display: none;
  position: relative;
}

.menu-box {
  position: fixed;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 375px;
  background: radial-gradient(
    189% 190% at 60% -24%,
    rgb(79, 46, 232) 18%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.active {
  background-color: #eac645;
}
.btn-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;

  border-radius: 36px;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #111;
  background-color: #eac645;
  font-weight: 700;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

.link-box {
  padding-top: 247px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.bag-icons {
  vertical-align: top;
  margin-left: 4px;
}

.books-box {
  padding-top: 126px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(341deg);
}

.books-item {
  transform: rotate(15deg);
}

.open-menu {
  display: flex;
}

@media (min-width: 768px) {
  .open-menu {
    display: none;
  }
}
